<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<!--basic.html에서 block replace한 곳으로 들어가겠다는 것, this::content는 지금 list.html의 fragment content block 를 의미한다
 this::content는 현재 파일(list.html) 내의 th:fragment="content" 블록을 참조합니다.
 따라서 두 이름이 일치해야 올바르게 작동합니다.-->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook List Page
            <span>
                <a th:href="@{/guestbook/register}">
                    <button type="button" class="btn btn-outline-primary">REGISTER</button>
                </a>
            </span>
        </h1>
        <form action="/guestbook/list" method="get" id ="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <select class="custom-select" name="type">
                        <option th:selected="${pageRequestDTO.type == null}">-------</option>
                        <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                        <option value="t" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                        <option value="t" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
                        <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
                        <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목+내용+작성자</option>
                    </select>
                </div>
                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>


        <!--전체 리스트 표시 부분-->
        <table class = "table table-striped">
            <thead>
            <tr>
<!--scope="col"은 HTML 테이블에서 <th> 요소가 열 헤더임을 나타냅니다. 이를 통해 브라우저와 스크린 리더는 해당 셀의 내용이 열 전체에 적용된다는 것을 알 수 있습니다.-->
                <th scope = "col">#</th>
                <th scope = "col">Gno</th>
                <th scope="col">Title</th>
                <th scope="col">RegDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <th scope="row">
                    <a th:href="@{/guestbook/read(gno=${dto.gno}, page=${result.page})}">[[${dto.gno}]]</a>
                </th>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
        <!--하단 페이지 표시 부분-->
        <ul class="pagination h-100 justify-content-center align-items-center">
<!--            prev는 boolean type인데 이전 페이지가 존재하면 Previous 문구를 띄우라는 것-->
            <li class="page-item " th:if="${result.prev}">
<!--                href="#": 링크의 목적지 URL입니다. 현재는 #로 설정되어 있어서 클릭해도 다른 페이지로 이동하지 않습니다.-->
<!--                tabindex="-1": 이 속성은 'Previous' 버튼이 기본적으로 포커스를 받지 않도록 설정합니다 페이지에서 Tab 키를 눌러 이동할 때, 이 버튼은 건너뛰도록 지정됩니다-->
                <a class="page-link" th:href="@{/guestbook/list(page=${result.start-1})}" tabindex="-1">Previous</a>
            </li>

<!--            현재 result.page가 해당 page와 같다면 active 클래스가 추가-->
<!--            <li class="page-item active"> 이런 식으로 나오게 하는 것임 그럼 현재 버튼이 칠해짐-->
<!--            th:class는 동적인 클래스 할당을 가능하게 합니다. 즉, 조건에 따라 클래스가 추가되거나 제거되도록 할 수 있습니다-->
<!--            th:each=page 에서 page는 사용자가 클릭한 page 자체를 나타냄-->
            <li th:class=" 'page-item ' + ${result.page == page?'active':''}" th:each="page:${result.pageList}">
                <a class="page-link" th:href="@{/guestbook/list(page = ${page})}">
                    [[${page}]]
                </a>
            </li>

<!--            next는 boolean type인데 이후 페이지가 존재하면 next 문구를 띄우라는 것-->
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/guestbook/list(page=${result.end+1})}">Next</a>
            </li>
        </ul>
<!--        role="dialog"는 HTML의 접근성 속성으로, ARIA(Accessible Rich Internet Applications)의 일부입니다.
        이 속성은 모달이나 팝업 창을 스크린 리더와 같은 보조 기술에 **"대화 상자"**로 인식시키기 위해 사용됩니다
        화면 리더 사용자는 현재 위치가 독립적인 대화 상자임을 알게 되어, 페이지의 다른 부분에서 분리된 상태로 여기게 됩니다.-->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            //  redirectAttributes.addFlashAttribute("msg",gno); 여기서 넘어온 msg를 받아서 출력
            // 게시물이 register 되고 redirect되는 목록 화면이 아니고 단순한 링크 이동의 경우에는 msg 변수의 값은 자동으로 null 처리됨
            var msg = [[${msg}]];
            console.log(msg);

            if(msg){
                $('.modal').modal();
            }
        </script>
    </th:block>
</th:block>
</html>